absl-py==2.3.1
cloudpickle==3.1.1
etils==1.13.0
Farama-Notifications==0.0.4
fsspec==2025.9.0
glfw==2.10.0
gymnasium==1.2.1
imageio==2.37.0
importlib_resources==6.5.2
mujoco==3.3.6
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
PyOpenGL==3.1.10
typing_extensions==4.15.0
urdf2mjcf==0.1.3
zipp==3.23.0
